<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
	<div class="container-fluid">
		<a class="btn btn-primary"
			href="../login.html">
			LOGIN
		</a>
		<div class="collapse navbar-collapse"
			id="navbarSupportedContent">
			<ul class="navbar-nav ms-auto mt-2 mt-lg-0">
				<li class="nav-item active">
					<a class="btn btn-secondary"
						href="../menu_user/daftarWorkshop.html">
						Daftar Workshop
					</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link"
						href="../index.html">
						Home
					</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link"
						href="../menu_user/arsip.html">
						Arsip
					</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link"
						href="../menu_user/ketentuan.html">
						Ketentuan
					</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle"
						id="navbarDropdown"
						href="#"
						role="button"
						data-bs-toggle="dropdown"
						aria-haspopup="true"
						aria-expanded="false">
						Menu
					</a>
					<div class="dropdown-menu dropdown-menu-end"
						aria-labelledby="navbarDropdown">
						<a class="dropdown-item"
							target="_blank"
							href="../menu_user/beli.html">
							Beli Buku
						</a>
						<!-- <a class="dropdown-item" target="_blank" href="https://forms.office.com/r/EEL6hfP3qG">
							Short Profile
						</a>
						<a class="dropdown-item" target="_blank" href="https://forms.office.com/r/wZaTjMBSvY">
							Kirim Tulisan
						</a>
						<a class="dropdown-item" target="_blank" href="../menu_user/list.html">
							Daftar Karya
						</a> -->
						<div class="dropdown-divider"></div>
						<a class="dropdown-item"
							target="_blank"
							href="https://wa.me/+6285336643226">
							Contact Person
						</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</nav>
